.skills-container {
  width: 100vw;
  display: flex;
  flex-direction: left;
  align-items: center;
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(5, 0.5fr);
    margin-top: 5px;
    margin-left: 50px;
    grid-gap: 100px;
    @include media(">=phone", "<lgphone") {
      grid-template-columns: 1fr;
    }
    @include media(">=lgphone", "<tablet") {
      grid-template-columns: 1fr;
    }
    @include media(">=tablet", "<desktop") {
      grid-template-columns: 3fr 1fr;
    }
    .skill {
      // display: flex;
      // flex-direction: center;
      // align-items: center;
      text-align: center;
      img {
        height: 3rem;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
.indent{
  display: inline-block; 
  padding-left: 15px
}
