.work-wrapper {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    font-size: 3rem;
    line-height: 10px;
    text-align: left;
  }
  h2{
    color: #BDEFC7
  }
  .grid {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    @include media(">=phone", "<lgphone") {
      grid-template-columns: 1fr;
    }
    @include media(">=lgphone", "<tablet") {
      grid-template-columns: 1fr;
    }
    @include media(">=tablet", "<desktop") {
      grid-template-columns: 1fr 1fr;
    }
    .text{
      font-size: 0.8rem;
    }
  }
  .image-wrapper {
    width: 20vw;
    
    align-items: right;
    justify-content: space-between;
    overflow: hidden;
    // size: 10px;
    @include media(">=phone", "<lgphone") {
      width: 20%;
    }
    @include media(">=lgphone", "<tablet") {
      width: 20%;
    }
    @include media(">=tablet", "<desktop") {
      width: 20%;
    }
  }
  .projects {
    width: 30vw;
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    @include media(">=phone", "<lgphone") {
      flex-direction: column-reverse;
    }
    @include media(">=lgphone", "<tablet") {
      flex-direction: column-reverse;
    }
    @include media(">=tablet", "<desktop") {
      flex-direction: column-reverse;
      align-items: center;
    }
    .content {
      width: 20%;
      @include media(">=phone", "<lgphone") {
        width: 100%;
      }
      @include media(">=lgphone", "<tablet") {
        width: 100%;
      }
      @include media(">=tablet", "<desktop") {
        width: 100%;
      }

      h1 {
        font-size: 3rem;
        line-height: 20px;
        @include media(">=tablet", "<desktop") {
          text-align: center;
        }
      }
      p {
        @include media(">=tablet", "<desktop") {
          text-align: center;
        }
      }

      }
    }
  }
